* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (max-width: 539px) {
    * {
        transition: all 1s;
    }
    body {
        background-image: url("bg7.png");
        background-repeat: no-repeat;
        background-size: 8000px;
        margin-top: 90px;
        overflow: auto;
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #ece8e8;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #1b1f1c;
        border-radius: 100px;
    }
    .fixed {
        width: 100%;
        height: 50px;
        background-image: url("bg8.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .adress {
        background-color: rgba(255, 255, 255, 0.904);
        width: 170px;
        height: 50px;
        padding-bottom: 5px;
        border: none;
        border-radius: 10px 0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        position: fixed;
        right: 0;
        top: 0;
        float: right;
    }
    .fixed a {
        text-decoration: none;
    }
    .adress h2 {
        font-family: "Amiri", serif;
        font-size: 30px;
        color: #000000;
    }
    .hr1 {
        clear: both;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.589);
        border: none;
        position: fixed;
        top: 50px;
    }
    .menu {
        background-image: url("bg8.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 51px;
        border-bottom: transparent solid 1px;
        justify-content: flex-end;
        align-items: center;
        z-index: 1000;
        gap:0px;
    }
    .menu a {
        text-decoration: none;
    }
    .special {
        border-bottom: #ffffff solid 3px;
    }
    .menu div {
        position: relative;
        background: transparent;
        height: 40px;
        width: fit-content;
        padding: 10px;
    }
    
    .menu div::before,
    .menu div::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 0;
        background-color: #ffffff;
        transition: width 0.5s ease-in-out;
    }
    
    .menu div::before {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .menu div::after {
        right: 50%;
        transform: translateX(50%);
    }
    
    .menu div:hover:not(.special)::before,
    .menu div:hover:not(.special)::after {
        width: 100%;
    }
    
    .menu h3 {
        color: #ece8e8;
        font-family: Tahoma ,Arial, Helvetica, sans-serif ;
        font-size: 10px;
        font-weight: 800;
    }
    .section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section-1 div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 75px;
        background-color: #1b1f1c;
        border: none;
        border-radius: 5px;
        color: #ece8e8;
        margin: 10px;
        cursor: pointer;
        box-shadow: 0 12px 18px rgba(0, 0, 0, 0.23), 0 -4px 18px rgba(0, 0, 0, 0.32);
        padding: 0 15px; /* عشان تسيب مساحة داخلية يمين وشمال */
    }
    .section-1 div:hover {
        background-color: #222723;
    }
    .section-1 span {
        font-size: 55px;
        color: #1daa61;
        position: absolute;
        order: 1;
        margin-right: 5px;
    }
    .section-1 h2 {
        font-size: 20px;
        order: 2; /* بيكون على اليمين */
        margin-left: auto; /* يدفعه لاقصى اليمين */
        font-size: 16px; /* تقدر تعدل الحجم حسب احتياجك */
    }
    .modal {
        display: none; 
        position: fixed; 
        z-index: 10000;
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .modal-content {
        background-image: url("bg7.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: 0;
        border: none;
        width: 80%; 
        height: 100%;
        position: relative;
        transition: width 1s;
    }
    .close {
        color: #1b1f1c;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin: 10px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
    .close:hover {
        color: #343835;
        font-size: 29px;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%,-10%);
        color: #15884d;
        padding: 10px 20px;
        font-size: 13px;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #1b1f1c;
        border: 1px solid rgba(255, 255, 255, 0.185);
        cursor: pointer;
        border-radius: 5px;
        width: 100px;
        text-align: center;
        transition: all ease-in-out 0.1s;
        box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.32),-10px -4px 20px rgba(0, 0, 0, 0.32);
    }
    .close-btn h3 {
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    .close-btn:hover {
        background-color: #242925;
    }
    #pdfViewer {
        border: none;
        width: 100%;
        height: calc(100% - 50px);
    }
    .expand-btn {
        background-color: #1b1f1c;
        border: 1px solid rgba(255, 255, 255, 0.185);
        cursor: pointer;
        color: #15884d;
        width: 80px;
        border-radius: 0 10px 10px 0;
        height: 53px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.32);
    }
}
@media (min-width: 540px) and (max-width: 784px) {
    * {
        transition: all 1s;
    }
    body {
        background-image: url("bg7.png");
        background-repeat: no-repeat;
        background-size: 8000px;
        margin-top: 120px;
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #ece8e8;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #1b1f1c;
        border-radius: 100px;
    }
    .fixed {
        width: 100%;
        height: 60px;
        background-image: url("bg8.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .fixed a {
        text-decoration: none;
    }
    .adress {
        background-color: rgba(255, 255, 255, 0.904);
        width: 200px;
        height: 61px;
        padding-bottom: 6px;
        border: none;
        border-radius: 10px 0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        position: fixed;
        right: 0;
        top: 0;
        float: right;
    }
    .adress h2 {
        font-family: "Amiri", serif;
        font-size: 32px;
        color: #000;
    }
    .hr1 {
        clear: both;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.589);
        border: none;
        position: fixed;
        top: 60px;
    }
    .menu {
        background-image: url("bg8.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 61px;
        border-bottom: transparent solid 1px;
        justify-content: flex-end;
        align-items: center;
        z-index: 1000;
        gap:0px;
    }
    .menu a {
        text-decoration: none;
    }
    .special {
        border-bottom: #ffffff solid 3px;
    }
    .menu div {
        position: relative;
        background: transparent;
        height: 40px;
        width: fit-content;
        padding: 10px;
    }
    
    .menu div::before,
    .menu div::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 0;
        background-color: #ffffff;
        transition: width 0.5s ease-in-out;
    }
    
    .menu div::before {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .menu div::after {
        right: 50%;
        transform: translateX(50%);
    }
    
    .menu div:hover:not(.special)::before,
    .menu div:hover:not(.special)::after {
        width: 100%;
    }
    
    .menu h3 {
        color: #ece8e8;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 200;
    }
    .section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section-1 div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        height: 75px;
        background-color: #1b1f1c;
        border: 1px solid rgba(255, 255, 255, 0.185);
        border-radius: 8px;
        color: #ece8e8;
        margin: 10px;
        cursor: pointer;
        box-shadow: 0 12px 18px rgba(0, 0, 0, 0.23), 0 -4px 18px rgba(0, 0, 0, 0.32);
        padding: 0 15px; /* عشان تسيب مساحة داخلية يمين وشمال */
    }
    .section-1 div:hover {
        background-color: #222723;
    }
    .section-1 span {
        font-size: 45px;
        color: #1daa61;
        position: absolute;
        order: 1;
        margin-right: 5px;
    }
    .section-1 h2 {
        font-size: 20px;
        order: 2; /* بيكون على اليمين */
        margin-left: auto; /* يدفعه لاقصى اليمين */
        font-size: 16px; /* تقدر تعدل الحجم حسب احتياجك */
    }
    .modal {
        display: none; 
        position: fixed; 
        z-index: 10000; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .modal-content {
        background-image: url("bg7.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: 0;
        border: none;
        width: 80%; 
        height: 100%;
        position: relative;
        transition: width 1s;
    }
    .close {
        color: #1b1f1c;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin: 10px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
    .close:hover {
        color: #343835;
        font-size: 29px;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%,-15%);
        color: #15884d;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #1b1f1c;
        border: 1px solid rgba(255, 255, 255, 0.185);
        cursor: pointer;
        border-radius: 5px;
        width: 130px;
        text-align: center;
        transition: all ease-in-out 0.1s;
        box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.32),-10px -4px 20px rgba(0, 0, 0, 0.32);
    }
    .close-btn h3 {
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    .close-btn:hover {
        background-color: #242925;
    }
    #pdfViewer {
        border: none;
        width: 100%;
        height: calc(100% - 50px);
    }
    .expand-btn {
        background-color: #1b1f1c;
        border: 1px solid rgba(255, 255, 255, 0.185);
        cursor: pointer;
        color: #15884d;
        width: 80px;
        border-radius: 0 10px 10px 0;
        height: 53px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.32);
    }
}
@media (min-width: 785px) and (max-width: 1149px) {
    * {
        transition: all 1s;
    }
    body {
        background-image: url("bg7.png");
        background-repeat: no-repeat;
        background-size: 3000px;
        margin-top: 130px;
        margin-bottom: 500px;
        overflow: auto;
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar-track {
        background-color: #ece8e8;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #1b1f1c;
        border-radius: 100px;
    }
    .fixed {
        width: 100%;
        height: 72px;
        background-image: url("bg8.png");
        background-repeat: no-repeat;
        background-size: 3000px;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .adress {
        background-color: rgba(255, 255, 255, 0.904);
        width: 300px;
        height: 72px;
        border: none;
        border-radius: 10px 0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        position: fixed;
        right: 0;
        top: 0;
    }
    .adress h2 {
        font-family: "Amiri", serif;
        font-size: 40px;
        color: #000;
    }
    .hr1 {
        clear: both;
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 255);
        border: none;
        position: fixed;
        top: 72px;
        z-index: 1000;
    }
    .menu {
        background-image: url("bg8.png");
        background-size: 3000px;
        background-repeat: no-repeat;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 72.5px;
        border-bottom: transparent solid 1px;
        justify-content: flex-end;
        align-items: center;
        z-index: 1000;
        gap:10px;
    }
    .menu a {
        text-decoration: none;
    }
    .special {
        border-bottom: #ffffff solid 3px;
    }
    .menu div {
        position: relative;
        background: transparent;
        height: 50px;
        width: fit-content;
        padding: 15px;
    }
    
    .menu div::before,
    .menu div::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 0;
        background-color: #ffffff;
        transition: width 0.5s ease-in-out;
    }
    
    .menu div::before {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .menu div::after {
        right: 50%;
        transform: translateX(50%);
    }
    
    .menu div:hover:not(.special)::before,
    .menu div:hover:not(.special)::after {
        width: 100%;
    }
    
    .menu h3 {
        color: #ece8e8;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 200;
    }
    .section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
    }
    .section-1 div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        height: 75px;
        background-color: #1b1f1c;
        border: none;
        border-radius: 5px;
        color: #ece8e8;
        margin: 10px;
        cursor: pointer;
        box-shadow: 0 12px 18px rgba(0, 0, 0, 0.23), 0 -4px 18px rgba(0, 0, 0, 0.32);
        padding: 0 15px; /* عشان تسيب مساحة داخلية يمين وشمال */
    }
    .section-1 div:hover {
        background-color: #222723;
    }
    .section-1 span {
        font-size: 55px;
        color: #1daa61;
        position: relative;
        order: 1;
        margin-right: 5px;
        z-index: 10;
    }
    .section-1 h2 {
        font-size: 20px;
        order: 2; /* بيكون على اليمين */
        margin-left: auto; /* يدفعه لاقصى اليمين */
        font-size: 16px; /* تقدر تعدل الحجم حسب احتياجك */
    }
    .modal {
        display: none; 
        position: fixed; 
        z-index: 10000; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .modal-content {
        background-image: url("bg7.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: 0;
        border: none;
        width: 80%; 
        height: 100%;
        position: relative;
        transition: width 1s;
    }
    .close {
        color: #1b1f1c;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin: 10px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
    .close:hover {
        color: #343835;
        font-size: 29px;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%,-15%);
        color: #15884d;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #1b1f1c;
        border: 1px solid rgba(255, 255, 255, 0.185);
        cursor: pointer;
        border-radius: 5px;
        width: 200px;
        text-align: center;
        transition: all ease-in-out 0.1s;
        box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.32),-10px -4px 20px rgba(0, 0, 0, 0.32);
    }
    .close-btn h3 {
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    .close-btn:hover {
        background-color: #242925;
    }
    #pdfViewer {
        border: none;
        width: 100%;
        height: calc(100% - 50px);
    }
    .expand-btn {
        background-color: #1b1f1c;
        border: 1px solid rgba(255, 255, 255, 0.185);
        cursor: pointer;
        color: #15884d;
        width: 90px;
        border-radius: 0 10px 10px 0;
        height: 53px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.32);
    }
}
@media (min-width: 1150px) {
    * {
        transition: all 1s;
    }
    body {
        background-image: url("bg7.png");
        background-repeat: no-repeat;
        background-size: 3000px;
        margin-top: 130px;
        margin-bottom: 500px;
        overflow: auto;
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar-track {
        background-color: #ece8e8;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #1b1f1c;
        border-radius: 100px;
    }
    .fixed {
        width: 100%;
        height: 72px;
        background-image: url("bg8.png");
        background-repeat: no-repeat;
        background-size: 3000px;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .adress {
        background-color: rgba(255, 255, 255, 0.904);
        width: 300px;
        height: 72px;
        border: none;
        border-radius: 10px 0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        position: fixed;
        right: 0;
        top: 0;
    }
    .adress h2 {
        font-family: "Amiri", serif;
        font-size: 40px;
        color: #000;
    }
    .hr1 {
        clear: both;
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 255);
        border: none;
        position: fixed;
        top: 72px;
        z-index: 1000;
    }
    .menu {
        background-image: url("bg8.png");
        background-size: 3000px;
        background-repeat: no-repeat;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 72.5px;
        border-bottom: transparent solid 1px;
        justify-content: flex-end;
        align-items: center;
        z-index: 1000;
        gap:10px;
    }
    .menu a {
        text-decoration: none;
    }
    .special {
        border-bottom: #ffffff solid 3px;
    }
    .menu div {
        position: relative;
        background: transparent;
        height: 50px;
        width: fit-content;
        padding: 15px;
    }
    
    .menu div::before,
    .menu div::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 0;
        background-color: #ffffff;
        transition: width 0.5s ease-in-out;
    }
    
    .menu div::before {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .menu div::after {
        right: 50%;
        transform: translateX(50%);
    }
    
    .menu div:hover:not(.special)::before,
    .menu div:hover:not(.special)::after {
        width: 100%;
    }
    
    .menu h3 {
        color: #ece8e8;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 200;
    }
    .section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
    }
    .section-1 div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        height: 75px;
        background-color: #1b1f1c;
        border: none;
        border-radius: 5px;
        color: #ece8e8;
        margin: 10px;
        cursor: pointer;
        box-shadow: 0 12px 18px rgba(0, 0, 0, 0.23), 0 -4px 18px rgba(0, 0, 0, 0.32);
        padding: 0 15px; /* عشان تسيب مساحة داخلية يمين وشمال */
    }
    .section-1 div:hover {
        background-color: #222723;
    }
    .section-1 span {
        font-size: 55px;
        color: #1daa61;
        position: relative;
        order: 1;
        margin-right: 5px;
        z-index: 10;
    }
    .section-1 h2 {
        font-size: 20px;
        order: 2; /* بيكون على اليمين */
        margin-left: auto; /* يدفعه لاقصى اليمين */
        font-size: 16px; /* تقدر تعدل الحجم حسب احتياجك */
    }
    .modal {
        display: none; 
        position: fixed; 
        z-index: 10000; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .modal-content {
        background-image: url("bg7.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: 0;
        border: none;
        width: 80%; 
        height: 100%;
        position: relative;
        transition: width 1s;
    }
    .close {
        color: #1b1f1c;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin: 10px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
    .close:hover {
        color: #343835;
        font-size: 29px;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%,-15%);
        color: #15884d;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #1b1f1c;
        border: 1px solid rgba(255, 255, 255, 0.185);
        cursor: pointer;
        border-radius: 5px;
        width: 200px;
        text-align: center;
        transition: all ease-in-out 0.1s;
        box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.32),-10px -4px 20px rgba(0, 0, 0, 0.32);
    }
    .close-btn h3 {
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    .close-btn:hover {
        background-color: #242925;
    }
    #pdfViewer {
        border: none;
        width: 100%;
        height: calc(100% - 50px);
    }
    .expand-btn {
        background-color: #1b1f1c;
        border: 1px solid rgba(255, 255, 255, 0.185);
        cursor: pointer;
        color: #15884d;
        width: 90px;
        border-radius: 0 10px 10px 0;
        height: 53px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.32);
    }
}
